h1, h2, h3, h4, ul, p {
    margin: 0;
    padding: 0;
}

body{
    background-color: #F7F7F7;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.pop-up{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(130, 130, 130, 0.8);
}

.pop-up-content{
    position: relative;
    padding: 30px;
    width: 50%;
    background-color: #F7F7F7;
}

.pop-up-close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}

.hidden{
    visibility: hidden;
}

.main-wrapper{
    display: flex;
}

.header{
    background-color: #ffffff;
    border: 1px solid black;
}

.book-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
}

.book-card{
    max-height: 334px;
    max-width: 210px;
    background-color: #ffffff;
    border: 1px solid black;
    cursor: move;
}

.book-img{
    height: 100px;
}

.book-title{
    font-size: 20px;
}

.book-subtitle{
    color: #828282;
    font-size: 16px;
}

.book-dragging{
   background-color: #828282;
}

/* Cart  */

.cart{
    margin: 30px;
    padding: 30px 50px 30px 20px;
    background-color: #ffffff;
    border: 1px solid black;
}

.book-card-cart{
    position: relative;
    padding: 10px 40px 10px 10px;
    border: 1px solid grey;

}

.example-card{
    height: 500px;
    width: 500px;
    background-color: aquamarine;
}


/* Form  */
.valid{
    position: relative;
}

.valid:before{
    content: '';
    position: absolute;
    top: 4px;
    left: 150px;
    width: 12px;
    height: 12px;
    background: url("../images/valid.png");
    background-size: cover;
}

.invalid{
    position: relative;
}

.invalid:before{
    content: '';
    position: absolute;
    top: 4px;
    left: 150px;
    width: 12px;
    height: 12px;
    background: url("../images/invalid.png");
    background-size: cover;
}
